@keyframes spillDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}

@keyframes spillUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-90vh);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(50deg);
  }
  80% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

@keyframes spillUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-90vh);
    opacity: 0;
  }
}

@keyframes spillDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(90vh);
    opacity: 0;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
