nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: black; */
  height: 3rem;
  padding:0 1rem;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  filter: drop-shadow(5px 3px 13px rgb(0, 0, 0));
  display: none;



}

nav h3{
  color: black;
}

.nav__menu{
  display: flex;
  gap: 1rem;
}

.nav__menu li  {
  list-style: none;
  color: white;
}
.nav__menu li a{
  color: white;
  font-size: 900;

}

.nav__btn{
  display: none;
}

.fish__container{
  width: 100px;
  z-index: -1;
  animation: fish 40s linear infinite;
  transition: all .5s;
  position: absolute;
  top: 50%;
  right: 0;
}


@keyframes fish {
  from {
    transform: rotate(20deg);
    }


    to   {
      transform    :rotate(-20deg) ;
      }

   0%{
    opacity: 0;
   }

  
    
    100%{
      opacity: 5;
      transform: translateX(-100vw);
    };
  }
    /* } */

  




.main__container {

  background-image: radial-gradient(
      rgb(2, 6, 23,.1),
      rgb(0,0,0,0.9),
      rgb(15, 23, 42,.1),
      rgb(0,0,0)
      

    ),
    url(/img/landing.svg);
  background-size: contain;
  background-position: left;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  scroll-behavior: smooth;
  cursor: pointer;
  transition: all 5s ease-in-out;
  z-index: -1;
}


/* .main__container::before{
  content: '';
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;

  background: radial-gradient(
    rgb(2, 6, 23,.9),
    rgb(0,0,0,0.9),
    rgb(15, 23, 42,.9),
    rgb(0,0,0)
  );
  animation: backgroudLightup 5s ease-in-out;

opacity:.9;
} */

@keyframes backgroudLightup{
  from { opacity : .7};
  to   { opacity : 1 };
  }



.moon{
  position: absolute;
  right: 5%;
  top: 10%;
  width: 10rem;
  height: 10rem;
  /* opacity: 0; */
  background-attachment: fixed;
  animation: lightUp 20s linear infinite;

}

@keyframes background {
  0%{
    opacity: .1;
    background: red;
  }  
  80%{
    opacity: 1;
    /* transform: scale(1.2); */
  }
  100%{
    opacity: 1;
    /* transform: scale(1); */
   
  }
  }
  

@keyframes lightUp {
0%{
  transform: rotate(130deg);
}  


80%{
  transform: rotate(-130deg);
  
}
100%{
  transition: all 3s ease-in-out;
  transform: rotate(0);
 
}
}

.main__info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.main__info * {
  margin-bottom: 1rem;
}
.main__info p {
  font-weight: 1000;
  color: white;
  text-align: center;
  z-index: 4;
  font-size: 1.3rem;
  line-height: 1.5;
}

.main__info h1 {
  font-weight: 900;
  text-shadow: none;
}

.main__info button {
  text-decoration: none;
  background: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 100px;
  box-shadow: 0 5px 0 rgb(25, 255, 255, 0.3);
  border: none;
  border-bottom: 2px solid white;
  margin-top: 2rem;
}

.main__info button a {
  color: #26d0ce;

  font-size: 1rem;
  font-weight: 900;
}

.fa-house {
  background: red;
}
.fa-user {
  background-color: green;
}
.fa-clipboard {
  background: blue;
}

.fa-phone-volume {
  background: orange;
}

.main__social__icon {
  position: absolute;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  bottom: 1%;
}

/* ////////////////////////  MEDIA QUERY ////////////// //////////////////////////////////////////////////*/

@media screen and (max-width:600px)
{
nav{
  display: none;
};

  .main__container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left;
  background-size: contain;
  margin: 0;
  padding: 1rem;
  background-attachment:scroll;
  }


  .main__info {
    width: 90%;
    margin-top: 10rem;
    /* height: 70vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 10rem auto; */
  
  }


  .main__info h1 {
    font-weight: 400;
    font-size: 2rem;
    text-shadow: none;
  }

  .main__info p {
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
  }

}