.section__skills {
  height: 100vh;
  /* padding: 0 4rem; */
  position: relative;
  background: rgb(240, 238, 241);
  /* z-index: -1; */
  box-shadow: var(--shadow);
  padding: 3rem 0;
  margin: 0 auto;
  width: 90vw;
  background-image: linear-gradient(
    /* to top, */
    rgb(2, 6, 23,.9),
    rgb(15, 23, 42,.9)

  );
}

.section__skills h1 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  background: black;
  height: 70vh;

}

.skill__bar {
  margin: 2rem;
}
.skill__bar p {
  color: rgb(0, 236, 250, 0.9);
  font-weight: 900;
}
.skill__bar h3 {
  margin-bottom: 1rem;
  color: rgb(0, 236, 250, 0.9);
}

.skill__info__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.9);
  margin-top: 1rem;
  border-radius: 50px;
  position: relative;
}

.skill__info .bar span {
  position: absolute;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgb(0, 236, 250, 0.9)
  );
  left: 0;
  border-radius: 50px;
}

.skill__info .bar .skill__info__html {
  width: 70%;
  animation: html 4s;
}

.skill__info .bar .skill__info__css {
  width: 60%;
  animation: css 5s;
}

.skill__info .bar .skill__info__sass {
  width: 50%;
  animation: sass 6s;
}

.skill__info .bar .skill__info__javascript {
  width: 40%;
  animation: javascript 7s;
}

.skill__info .bar .skill__info__html {
  width: 70%;
  animation: html 4s;
}

.skill__info .bar .skill__info__css {
  width: 60%;
  animation: css 5s;
}

.skill__info .bar .skill__info__sass {
  width: 50%;
  animation: sass 6s;
}

.skill__info .bar .skill__info__javascript {
  width: 40%;
  animation: javascript 7s;
}

/*  PROFFESSIONAL SKILLS */

.proffessional__skills {
  perspective: 1500px;
  position: absolute;
  right: 12%;
  /* top: 39%; */
}
.proffessional__skills h3 {
  margin-bottom: 2rem;
  color: rgb(108, 99, 255);
}

.box {
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  transition: all ease-in-out !important;
  animation: tilt 40s infinite;
  right: 3%;
  /* position: relative; */
}

.box::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(to top, rgba(255, 255, 255), transparent);
  bottom: -160px;
  left: 7%;
  right: 0;
  /* z-index: -1; Place the pseudo-element behind the .card */
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.3);

  transform: rotateX(90deg);
}

@keyframes tilt {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(-360deg);
  }
  80% {
    transform: rotateY(-130deg);
  }
  100% {
    transform: scale(1);
  }
}

.card {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.8),
    rgb(0, 236, 250)
  );
  color: white;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.card h4 {
  padding: 1rem 0;
}

#front {
  transform: translateZ(125px);
}

#back {
  transform: translateZ(-125px) rotateY(180deg);
  /* padding: 0.3rem 0; */
}

#left {
  right: 88px;
  transform: rotateY(-90deg);
}

#right {
  left: 120px;
  transform: rotateY(90deg);
  padding-top: rem;
  /* background: red; */
}

#top {
  bottom: 88px;
  transform: rotateX(90deg);
}

#bottom {
  top: 120px;
  transform: rotateX(-90deg);
}
