* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
}

html {
  font-style: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nova Square', cursive;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    rgb(2, 6, 23,.9),
    rgb(15, 23, 42,.9)

  );
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}
h1 {
  font-size: 3rem;
}
h1,
h2 {
  color: #fe8c00;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}
