@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Nova+Square&display=swap');

/* Heading 1 (H1): 24-36px (for the main title or headline)
Heading 2 (H2): 18-28px (for section titles or subheadings)
Heading 3 (H3): 16-24px (for subsections or less prominent headings)
Body Text: 16px for desktop, possibly slightly larger for mobile
Small Text: 12-14px (for captions, footnotes, and less important text)
 */

/* converting all my absolute paths to relative paths. */

*,
a {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  font-style: 62.5%;
}
p {
  margin: 0;
}
:root {
  --color-body: rgb(222, 222, 222);
  --prinmary-color: rgb(246, 178, 151);
  --color-text-light: #ffeee8;
  --color-icons: rgb(127, 127, 127);
  --color-background-icon: rgb(230, 229, 230);
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  --bfont-size: 16px;
  --container-width: 98%;
  --h1-font: 36px;
}

body {
  background: white;
  font-size: var(--bfont-size);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nova Square', cursive;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

h1 {
  font-size: var(--h1-font);
}

.container {
  height: 100vh;
  padding: 0.3rem;
}

.main__container {
  /* background-image:linear-gradient(
      rgb(248, 251, 250, 0.4),
      rgb(248, 251, 250, 0.4)
    ),
    url(img/about\ achievements.svg); */
  background-image: url(img/about\ achievements.svg);

  background-image: linear-gradient(
      rgb(108, 99, 255, 0.9),
      rgb(248, 251, 250, 0.4)
    ),
    url(img/Transparent\ .PNG);

  /* background: black; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 45%;
  height: 95%;
  display: flex;
  gap: 4%;
  margin: 0 auto;
  align-items: center;
}

.main__img__container {
  width: 25vw;
  height: 50vh;
  margin: 1%;
  position: relative;
  box-shadow: var(--shadow);
  border-radius: 10px;
  overflow: hidden;
}

.main__container img {
  border-radius: 10px;
  height: 100%;
  max-width: 100%;
}

.main__container__info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.main__container__info * {
  margin-bottom: 1rem;
}
.main__container__info p {
  font-weight: 900;
  color: black;
}
.main__container__info h1 {
  font-size: var(--h1-font);
}

.main__container__info button {
  text-decoration: none;
  border: 2px solid black;
  background: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  color: white;
}

.main__container__info a {
}

.main__container__icons {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 2rem;
  color: var(--color-icons);
  position: fixed;
  right: 2%;
  z-index: 5;
}
.fa-house {
  background: #ffeee8;
}

.main__container__icons i {
  box-shadow: var(--shadow);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: black;
}

/* ///////////////////////////////////////////     media query for larger screens        ////////////////////////////////////// */

@media (max-width: 1024px) {
  .container {
    padding: 0;
    margin: 0;
  }
  .main__container {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .main__container__info p {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .main__container__icons {
    top: 30%;
  }

  .main__img__container {
    width: 50vw;
    height: 100vh;
  }
}
/* //////////////////// ///////////////////////  END OF MEDIA QUERY FOR LARGER SCREENS  ////////////////////////////////////// */

/* ///////////////////////////////////////////       MEDIA QUERY FOR SMALLER SCREENS    /////////// ////////////////////////  */

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    width: 100%;
    height: max-content;
  }

  .main__img__container {
    margin-top: 2rem;
    width: 70%;
    height: 100vh;
  }

  .main__container__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 100vh;
    width: 80%;
  }

  .main__container h1 {
    text-align: center;
    font-size: 30px;
  }
  .main__container p {
    text-align: center;
    margin: 1rem;
  }

  .main__container__icons {
    display: none;
  }
}
/* //////////////////////////////////////////////////    END OF MEDIA QUERIES FOR SMALL SCREEN   /////////// /////////////// */

.section__about {
  height: 80vh;
}

.about {
  display: flex;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.section__about h1 {
  text-align: center;
  margin: 1rem 0 0 8rem;
  color: #fe8c00;
  display: block;
}

.section__about h3 {
  text-align: left;
}
.section__about h2 {
  text-align: center;
}
.about__img__wrapper {
  width: 25vw;
  height: 25vw;
  margin-right: 1.5rem;
  position: relative;
}

.about__img__wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.about__img:nth-child(1) {
  border: 2px solid black;
  clip-path: polygon(28% 0, 0 31%, 0 0);
}

.about__img:nth-child(2) {
  border: 2px solid black;
  transform: translateY(9px);

  clip-path: polygon(26% 0, 85% 0, 0 100%, 0 100%, 0 30%);
}

.about__img:nth-child(3) {
  border: 2px solid black;
  transform: translateY(15px);
  clip-path: polygon(100% 47%, 85% 0, 0 100%, 0 100%, 64% 100%);
}

.about__img:nth-child(4) {
  border: 2px solid black;
  transform: translateY(15px);
  clip-path: polygon(100% 47%, 100% 100%, 66% 99%, 65% 94%, 66% 100%);
}

.about__info {
  width: 60vw;
  text-align: center;
  margin-top: 2rem;
}

.about__info p {
  line-height: 1.7;
  letter-spacing: 1;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
  font-size: 16px;
}

.about__subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.about__data li {
  list-style: none;
  display: flex;
  gap: 0.6rem;
}

.about__info button {
  align-self: center;
  justify-self: start;
  margin-top: 1rem;
  border: none;
  padding: 0.7rem 1rem;
  background: none;
  background: linear-gradient(rgb(0, 180, 219, 0.4), rgb(0, 0, 0));
  color: white;
}

.social__media__icon i {
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  animation: rotate 10s linear infinite;
}

.social__media__icon i:hover {
  cursor: pointer;
}

.fa-github {
  color: #181717;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin {
  color: rgb(5, 90, 136);
}

.fa-envelope {
  color: #d44638;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(50deg);
  }
  80% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.about__img__wrapper-2 {
  display: none;
}

@media screen and (max-width: 1024px) {
  .section__about {
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: max-content;
  }

  .about__img__wrapper {
    display: none;
  }

  .about__info {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .section__about {
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: max-content;
    /* background: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section__about h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }
  .about {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-position: right;
    background-size: contain;
    background-repeat: no-repeat; */
  }

  .about__info {
    width: 100%;
    height: 100%;
  }

  .about__info p {
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
  }

  .about__img__wrapper {
    display: none;
  }

  .about__img__wrapper-2 {
    display: block;
    margin-top: 1rem;
    width: 40vh;
  }

  .about__img__wrapper-2 img {
    border-radius: 50%;
    border: 2px solid black;
    padding: 1.3px;
  }
}

/* END OF SECTION__ABOUT */

/* START OF SECTION__SKILLS */
.section__skills {
  height: 90vh;
  padding: 0 4rem;
  position: relative;
}

.section__skills h1 {
  text-align: center;
  padding-top: 2rem;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  align-items: center;
}

.skill__bar {
  margin: 2rem;
}
.skill__bar h3 {
  margin-bottom: 1rem;
}

.skill__info__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*
.technical__skills {
  flex: 1;
}

.proffessional__skills {
  flex: 1;
} */
.bar {
  width: 100%;
  height: 10px;
  background: green;
  margin-top: 1rem;
  border-radius: 50px;
  position: relative;
}

.skill__info .bar span {
  position: absolute;
  height: 100%;
  width: 50%;
  background: black;
  left: 0;
  border-radius: 50px;
}

.skill__info .bar .skill__info__html {
  width: 70%;
  animation: html 4s;
}

.skill__info .bar .skill__info__css {
  width: 60%;
  animation: css 5s;
}

.skill__info .bar .skill__info__sass {
  width: 50%;
  animation: sass 6s;
}

.skill__info .bar .skill__info__javascript {
  width: 40%;
  animation: javascript 7s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.proffessional__skills {
  margin-top: 1.9rem;
}

.proffessional__skills h3 {
  margin-bottom: 2.5rem;
  /* position: absolute; */
  /* top: 15%; */
}

.professional__skills__content__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.professional__skills__content__item__box {
  flex: 1 1 15rem;
  position: relative;
}
.professional__skills__content__item__circle {
  width: 100%;
  height: 120px;
  border: 3px solid black;
}

.professional__skills__content__item__info big {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.professional__skills__content__item__info small {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .section__skills {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .section__skills {
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .section__skills h1 {
    text-align: center;
    display: none;
    margin: 0;
  }

  .skills {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .professional__skills__content {
    width: 100vw;
    padding: 1rem;
  }

  .proffessional__skills h3 {
    text-align: center;
    margin-bottom: 0;
    color: white;
  }
  .technical__skills {
    width: 100%;
  }
}

/* contact me */
.section__contact-me {
  height: 80vh;
}

.contact {
  width: 80%;
  height: 70vh;
  display: grid;
  grid-template-columns: 35% 60%;
  background: black;
  box-shadow: var(--shadow);
  margin: 0 auto;
  padding: 3rem;
  border-radius: 10px;
  gap: 2rem;
  margin-top: 6rem;
}

textarea {
  resize: none;
  height: 200px;
  outline: none;
  padding: 0.8rem;
}

form {
  /* background: green; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  height: max-content;
}

.input__container {
  display: flex;
  align-items: center;
  height: 2rem;
  gap: 1rem;
}

.input__container input {
  height: 100%;
  width: 100%;
  padding: 0.8rem;
}

form input[type='email'] {
  height: 2rem;
  padding: 0.8rem;
}

form button {
  align-self: center;
  color: wheat;
  background: none;
  padding: 1rem;
  outline: none;
  border: none;
  border: 2px solid wheat;
  border-radius: 100px;
  margin-bottom: 2rem;
}

.contact__content {
  background: #d44638;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: relative;
  bottom: 5rem;
  height: 80vh;
  color: white;
}

.contact__content ul li {
  list-style: none;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  overflow-x: hidden;
}

.contact__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.contact__img {
  width: 12rem;
  margin-bottom: 0.5rem;
}

.contact h1 {
  margin: 0.5rem 0;
}

.contact p {
  margin-bottom: 0.5rem;
}

#contact__icon {
  cursor: pointer;
  display: flex;
  width: max-content;
}

#contact__icon i {
  border: 3px solid white;
}

@media (max-width: 1024px) {
  .section__contact-me {
    width: 100%;
    height: 100vh;
  }

  .contact {
    display: flex;
    flex-direction: column-reverse;
    /* width: 80%; */
    padding: 10px;
    /* margin-top: 9rem; */
  }

  .input__container {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
  }
  form input[type='text'] {
    width: 100%;
    background: red;
    z-index: 1;
    /* display: block; */
  }

  .contact__content {
    display: none;
    width: 100%;
    height: 100vh;
  }
}
